<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="admin/dashboardLayout.html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Chỉnh sửa người dùng</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid px-4">
    <h1 class="mt-4">Quản lý người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/admin/users">Quản lý người dùng</a></li>
        <li class="breadcrumb-item active">Chỉnh sửa tài khoản</li>
    </ol>
    <div class="card my-3 col-md-4">
        <div class="card-header">
            Chỉnh sửa thông tin tài khoản
        </div>
        <div class="card-body">
            <div class="col-md-12 col-lg-offset-3 mt-20 alert alert-success" th:if="${my_error}">
                <span th:text="${my_error}"></span>
            </div>

            <!-- Action URL cần truyền id -->
            <form class="row g-3"
                  th:action="@{/admin/users/update}"
                  th:object="${adminUpdateUserDto}"
                  method="post">
                <input type="hidden" th:field="*{id}" hidden="hidden">
                <div class="form__group">
                    <div class="form__text-input flex">
                        <input type="text" id="inputFullName" placeholder="Tên đầy đủ"
                               th:field="*{fullName}" class="form__input form-control" required>
                    </div>
                    <div th:if="${#fields.hasErrors('fullName')}" class="notification notification--error">
                        <i class='bx bx-error-circle notification__icon'></i>
                        <div class="notification__content">
                            <p class="notification__message" th:each="err : ${#fields.errors('fullName')}" th:text="${err}"></p>
                        </div>
                    </div>
                </div>

                <div class="form__group">
                    <div class="form__text-input flex">
                        <input type="text" id="inputPhoneNumber"
                               th:field="*{phoneNumber}" placeholder="Nhập số điện thoại"
                               class="form__input form-control" required>
                    </div>
                    <div th:if="${#fields.hasErrors('phoneNumber')}" class="notification notification--error">
                        <i class='bx bx-error-circle notification__icon'></i>
                        <div class="notification__content">
                            <p class="notification__message" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></p>
                        </div>
                    </div>
                </div>

                <div class="form__group">
                    <div class="form__text-input flex">
                        <input type="email" id="inputEmail" th:field="*{email}"
                               placeholder="Nhập email" class="form__input form-control" required>
                    </div>
                    <div th:if="${#fields.hasErrors('email')}" class="notification notification--error">
                        <i class='bx bx-error-circle notification__icon'></i>
                        <div class="notification__content">
                            <p class="notification__message" th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label class="form-label fw-semibold">Vai trò</label>
                    <select class="form-select" th:field="*{role}" th:errorclass="is-invalid">
                        <option value="" th:selected="${#strings.isEmpty(role)}">Chọn vai trò</option>
                        <option th:each="role : ${roles}"
                                th:value="${role.name}"
                                th:text="${role.name}"
                                th:selected="${role.name == adminUpdateUserDto.role}"></option>
                        </option>
                    </select>
                    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="invalid-feedback"></div>
                </div>

                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                    <a th:href="@{/admin/users}" class="btn btn-secondary">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
