<footer id="footer" class="footer" >
  <div class="container">
    <div class="footer__row">
      <!-- Footer Column 1 -->
      <div class="footer__col">
        <!-- Logo -->
        <a href="#!" class="logo footer__logo">
          <img src="../../icon/logo-primary.svg" alt="luxury" class="logo__img" />
        </a>

        <p class="footer__help-text">Nhận thông báo ưu đãi mới nhất.</p>
        <form action="" class="footer__form">
          <input type="text" name="" id="" class="footer__input" placeholder="Emaill address">
          <button class="btn btn--primary">Send</button>
        </form>

        <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2928.6803313420314!2d108.20818852137882!3d16.061264582662673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1742292287371!5m2!1svi!2s"
                width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <!-- Footer Column 2 -->
      <div class="footer__col">
        <h3 class="footer__heading">Chính sách công ty</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">Giới thiệu</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Liên hệ</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Điều khoản sử dụng</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Chính sách vận chuyển</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Chính sách bảo mật</a>
          </li>
        </ul>
      </div>

      <!-- Footer Column 3 -->
      <div class="footer__col">
        <h3 class="footer__heading">Liên hệ</h3>
        <ul class="footer__list">
          <li>
            <p class="footer__label">Email</p>
            <a href="mailto:contact@chienpro.vn" class="footer__link">contact@chienpro.vn</a>
          </li>
          <li>
            <p class="footer__label">Hotline</p>
            <a href="tel:0962222003" class="footer__link">0962222003</a>
          </li>
          <li>
            <p class="footer__label">Address</p>
            <p class="footer__text">
              K122/33 Phan Thanh, Thanh Khê, Đà Nẵng
            </p>
          </li>
          <li>
            <p class="footer__label">Hours</p>
            <p class="footer__text">
              M - F 08:00am - 05:00pm
            </p>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer__contact">
      <span class="d-md-none footer__heading footer__span">Liên hệ với chúng tôi</span>

      <div class="footer__socials">
        <a href="https://www.facebook.com/tochien23" target="_blank" class="footer__social-link footer__social-link--facebook">
          <img src="../../icon/facebook.svg" alt="" class="footer__social-icon">
        </a>
        <a href="https://www.youtobe.com/@mobamusicedm4949" target="_blank" class="footer__social-link footer__social-link--youtube">
          <img src="../../icon/youtube.svg" alt="" class="footer__social-icon">
        </a>
        <a href="https://www.tiktok.com/@tochien23" target="_blank" class="footer__social-link footer__social-link--tiktok">
          <img src="../../icon/tiktok.svg" alt="" class="footer__social-icon">
        </a>
        <a href="https://www.twitter.com/tochien23" target="_blank" class="footer__social-link footer__social-link--twitter">
          <img src="../../icon/twitter.svg" alt="" class="footer__social-icon">
        </a>
        <a href="https://www.linkedin.com/tochien23" target="_blank" class="footer__social-link footer__social-link--linkedin">
          <img src="../../icon/linkedin.svg" alt="" class="footer__social-icon">
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">
      © Copyright 2025. LUXURY EXPRESS by @tochien23
    </p>
  </div>
</footer>