<header id="header" class="header" >
    <div class="container">
        <!-- Logo -->
        <a id="home" href="/user" class="logo top-bar-logo">
            <img src="../../icon/logo-primary.svg" alt="LUXURY BUS" class="top-bar-logo__img">
        </a>

        <div class="top-bar">
            <!-- More -->
            <button class="top-bar__more d-none d-lg-block">
                <img src="../../icon/more.svg" alt="" class="icon top-bar__more-icon">
            </button>

            <!-- Actions -->
            <div class="top-act d-lg-none">
                <div class="top-act__user">
                    <img src="../../imgs/avatar.png" alt="" class="top-act__avatar">

                    <!-- Dropdown -->
                    <div class="act-dropdown top-act__dropdown">
                        <div class="act-dropdown__inner user-menu">
                            <img src="../../icon/arrow-up.png" alt="" class="act-dropdown__arrow top-act__dropdown-arrow">

                            <div class="user-menu__top">
                                <img src="../../imgs/avatar.png" alt="" class="user-menu__avatar">
                                <div>
                                    <p class="user-menu__name">To Chien</p>
                                </div>
                            </div>

                            <ul class="user-menu__list">
                                <li>
                                    <a th:href="@{/user/info}" class="user-menu__link">
                                        <img src="../../icon/Profile.svg" alt="" class="user-menu__icon">
                                        Thông tin tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/user/tickets}" class="user-menu__link">
                                        <img src="../../icon/History.svg" alt="" class="user-menu__icon">
                                        Lịch sử mua vé
                                    </a>
                                </li>
                                <li class="user-menu__separate">
                                    <a th:href="@{/user/reviews}" class="user-menu__link">
                                        <img src="../../icon/Address.svg" alt="" class="user-menu__icon">
                                        Đánh giá vé
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/user/change-password}" class="user-menu__link">
                                        <img src="../../icon/Profile.svg" alt="" class="user-menu__icon">
                                        Đặt lại mật khẩu
                                    </a>
                                </li>
                                <li class="user-menu__separate">
                                    <a th:href="@{/logout}" class="user-menu__link">
                                        <img src="../../icon/Logout.svg" alt="" class="user-menu__icon">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- More -->
            <button class="top-bar__more d-none d-lg-block">
                <img src="../../icon/person.svg" alt="" class="icon top-bar__more-icon">
            </button>
        </div>
    </div>
    <div class="bottom-bar d-lg-none">
        <div class="bottom-bar--container">
            <div class="bottom-bar--left">Quay lại</div>
            <div class="bottom-bar--center">
                <p class="bottom-bar--title">Đà Nẵng - Hương Sơn</p>
                <span class="bottom-bar--desc">Thứ 7, 29/03</span>
            </div>
            <div class="bottom-bar--right"></div>
        </div>
    </div>
</header>