<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="public/layout-static.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY BUS</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="76x76" href="../../favicon/logo72x72.png">
    <link rel="icon" type="image/icon" sizes="32x32" href="../../favicon/logo32x32.png">
    <link rel="icon" type="image/icon" sizes="16x16" href="../../favicon/logo16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- Icon -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- Styles -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" href="../../css/main.css">

    <!-- Script -->
    <script th:src="@{/js/scripts.js}"></script>

</head>

<body>
<!-- Header -->
<div th:replace="~{public/header-logined}"></div>

<a href="#home" class="back-to-top">
    <i class="bx bxs-to-top"></i>
</a>

<!-- Main -->
<main class="container home">
    <!-- Search tickets -->
    <div class="search-form">
        <form action="" class="search-form__form" th:action="@{/public/submit}" method="post"
              onsubmit="return validateForm()">
            <!-- Chọn loại vé -->
            <div class="search-form__select">
                <div class="search-form__select search-form__select--left">
                    <div class="search-form__radio">
                        <div class="search-form__text-input">
                            <input type="radio" checked name="option" id="option1" class="search-form__input">
                        </div>
                        <label for="option1" class="search-form__label--option">Một chiều</label>
                    </div>
                    <div class="search-form__radio">
                        <div class="search-form__text-input">
                            <input type="radio" name="option" id="option2" class="search-form__input">
                        </div>
                        <label for="option2" class="search-form__label--option">Khứ hồi</label>
                    </div>
                </div>
                <div class="search-form__select search-form__select--right d-lg-none">
                    <a href="#!" class="text-value">Hướng dẫn mua vé</a>
                </div>
            </div>

            <!-- Chọn thông tin -->
            <div class="search-form__content">
                <!-- Row 1 -->
                <div class="search-form__row search-form__row--left">
                    <div class="search-form__group search-form__group--left">
                        <label for="departure" class="search-form__label">Điểm đi</label>
                        <div class="search-form__text-input input-search">
                            <!--                            <input type="text" id="go-off" placeholder="Chọn điểm đến" required-->
                            <!--                                   class="input-search__input input-search__input&#45;&#45;go-off">-->
                            <select id="departure" class="input-search__input input-search__input--go-on" name="departure" >
                                <option th:value="${deparTure != null} ? ${deparTure.id}  : ''"
                                        th:text="${deparTure != null} ? ${deparTure.stopName}  : 'Chọn nơi đi'"
                                ></option>

                                <optgroup th:each="tinhTp : ${listTinhTp}" th:label="${tinhTp.name}">
                                    <option th:each="stop : ${tinhTp.getStops()}"
                                            th:value="${stop.id}"
                                            th:text="${stop.stopName}">
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <img src="../../icon/switch_location.svg" class="search-form__group--icon switch-icon"
                         alt="">
                    <div class="search-form__group search-form__group--right">
                        <label for="destination" class="search-form__label">Điểm đến</label>
                        <div class="search-form__text-input input-search">
                            <!--                            <input type="text" id="go-off" placeholder="Chọn điểm đến" required-->
                            <!--                                   class="input-search__input input-search__input&#45;&#45;go-off">-->
                            <select  id="destination"  class="input-search__input input-search__input--go-off" name="destination" >
                                <option th:value="${destinaTion != null} ?  ${destinaTion.id} : ''"
                                        th:text="${destinaTion != null} ? ${destinaTion.stopName} : 'Chọn nơi đến'">
                                </option>
                                <optgroup th:each="tinhTp : ${listTinhTp}" th:label="${tinhTp.name}">
                                    <option th:each="stop : ${tinhTp.getStops()}"
                                            th:value="${stop.id}"
                                            th:text="${stop.stopName}">
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="separate d-none d-lg-block"></div>

                <!-- Row 2 -->
                <div class="search-form__row search-form__date">
                    <div class="search-form__group">
                        <label for="date" class="search-form__label">Ngày đi</label>
                        <div class="search-form__text-input input-search" id="datepicker">
                            <input id="date"  type="text" class="choosedate input-search__input" name="departureDate"
                                   placeholder="Chọn thời gian" required = "required"
                                   th:value="${departureDate != null} ?  ${departureDate} : ''">
                        </div>
                    </div>
                    <div class="search-form__group search-form__group--lg d-none">
                        <label for="ticket" class="search-form__label">Số vé</label>
                        <div class="search-form__text-input input-search input-search__icon d-lg-none">
                            <input type="text" id="ticket" value="1" required class="input-search__input">
                            <span class="d-lg-none">
                                    <img src="../../icon/arrow_down_select.svg" alt="">
                                </span>
                        </div>
                        <div class="search-form__text-input input-search input-search__icon--lg d-none d-lg-flex">
                            <span>1</span>
                            <img src="../../icon/arrow_down_select.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <div class="search-form__bottom">
                <button class="search-form__bottom--button btn btn--primary btn--rounded">Tìm chuyến xe</button>
            </div>
        </form>
    </div>

    <!-- Tickets -->
    <div class="ticket-container ticket-info-content">
        <div class="ticket-left d-lg-none">
            <div class="ticket-filter">
                <!-- Header -->
                <div class="ticket-filter__header">
                    <p class="ticket-filter__header--text">Bộ lọc tìm kiếm</p>
                    <span class="ticket-filter__header--button">
                            Bộ lọc
                            <img src="../../icon/bin.svg" alt="" class="ticket-filter__header--icon">
                        </span>
                </div>
                <!-- Go on-->
                <div class="ticket-filter__go">
                    <span>Giờ đi</span>
                    <div class="ticket-filter__go--time">
                        <label for="go-time">
                                <span class="ticket-filter__go--checkbox">
                                    <input class="ticket-filter__go--input" type="checkbox" checked name="" id="go-time">
                                    <span class="ticket-filter__go--checkmark"></span>
                                </span>
                            <span class="ticket-filter__go--text">
                                    Buổi sáng 06:00 - 17:00 (0)
                                </span>
                        </label>
                        <label for="go-off">
                                <span class="ticket-filter__go--checkbox">
                                    <input class="ticket-filter__go--input" type="checkbox" name="" id="go-off">
                                    <span class="ticket-filter__go--checkmark"></span>
                                </span>
                            <span class="ticket-filter__go--text">
                                    Buổi tối 20:00 - 05:00 (0)
                                </span>
                        </label>
                    </div>
                </div>

                <div class="separate"></div>

                <!-- Type -->
                <div class="ticket-filter__type">
                    <span>Loại xe</span>
                    <div class="ticket-filter__type--content">
                        <div class="ticket-filter__type--text">Xe thường</div>
                        <div class="ticket-filter__type--text">Xe VIP</div>
                    </div>
                </div>

                <div class="separate"></div>

                <!-- Row seat -->
                <div class="ticket-filter__type">
                    <span>Hàng ghế</span>
                    <div class="ticket-filter__type--content">
                        <div class="ticket-filter__type--text">Hàng đầu</div>
                        <div class="ticket-filter__type--text">Hàng giữa</div>
                        <div class="ticket-filter__type--text">Hàng cuối</div>
                    </div>
                </div>

                <div class="separate"></div>

                <!-- Floor -->
                <div class="ticket-filter__type">
                    <span>Tầng</span>
                    <div class="ticket-filter__type--content">
                        <div class="ticket-filter__type--text">Tầng trên</div>
                        <div class="ticket-filter__type--text">Tầng dưới</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="ticket-content">
            <div class="ticket-content__header">
                <div class="ticket-content__heading d-lg-none">Đà Nẵng - Hương Sơn</div>
                <div class="ticket-content__header--menu d-none d-lg-flex">
                    <div class="ticket-content__header--content">
                        <img src="../../icon/back.svg" alt="" class="ticket-content__header--left">
                        <span class="ticket-content__header--center">
                                Đà Nẵng - Hương Sơn
                                <br>
                                <span class="ticket-content__header--text">23/03</span>
                            </span>
                        <img src="../../icon/edit_filter.svg" alt="" class="ticket-content__header--right">
                    </div>
                </div>
            </div>
            <div class="ticket-content__list">
                <!-- Trip 1 -->
                <div class="ticket-content__container">
                    <div class="ticket-content__item">
                        <div class="ticket-content__item--top">
                            <div class="ticket-content__item--container">
                                <div class="ticket-content__item--left">
                                    <div class="ticket-content__item--hour">
                                        <span class="ticket-content__item--text">06:00</span>
                                        <div class="ticket-content__item--distant">
                                            <img src="../../icon/pickup.svg" alt="">
                                            <span class="ticket-content__item--border"></span>
                                            <span class="ticket-content__item--value">
                                                    8 giờ
                                                </span>
                                            <span class="ticket-content__item--border"></span>
                                            <img src="../../icon/station.svg" alt="">
                                        </div>
                                        <span class="ticket-content__item--text">17:00</span>
                                    </div>
                                    <div class="ticket-content__item--location">
                                        <div class="ticket-content__item--goon">
                                            <span class="font-medium">Bến Xe Trung Tâm Đà Nẵng</span>
                                        </div>
                                        <div class="ticket-content__item--gooff">
                                            <span class="font-medium">Bến Xe Hương Sơn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-content__item--right d-lg-none">
                                    <div class="ticket-content__item--dots"></div>
                                    <span>Xe thường</span>
                                    <div class="ticket-content__item--dots"></div>
                                    <span class="text-green">33 chổ trống</span>
                                    <span class="ticket-content__item--price">270.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="separate ticket-content__item--divide"></div>
                        <div class="ticket-content__item--wrap d-none d-lg-flex">
                            <div class="ticket-content__item--wrap-left">
                                <div class="ticket-content__item--dots"></div>
                                <span>Xe thường</span>
                                <div class="ticket-content__item--dots"></div>
                                <span class="text-green">33 chổ trống</span>
                            </div>
                            <span class="ticket-content__item--wrap-right">270.000đ</span>
                        </div>
                        <div class="ticket-content__item--bottom d-lg-none">
                            <button class="ticket-content__item--button btn btn--rounded btn--primary">
                                Chọn chuyến
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Trip 2 -->
                <div class="ticket-content__container">
                    <div class="ticket-content__item">
                        <div class="ticket-content__item--top">
                            <div class="ticket-content__item--container">
                                <div class="ticket-content__item--left">
                                    <div class="ticket-content__item--hour">
                                        <span class="ticket-content__item--text">06:00</span>
                                        <div class="ticket-content__item--distant">
                                            <img src="../../icon/pickup.svg" alt="">
                                            <span class="ticket-content__item--border"></span>
                                            <span class="ticket-content__item--value">
                                                    8 giờ
                                                </span>
                                            <span class="ticket-content__item--border"></span>
                                            <img src="../../icon/station.svg" alt="">
                                        </div>
                                        <span class="ticket-content__item--text">17:00</span>
                                    </div>
                                    <div class="ticket-content__item--location">
                                        <div class="ticket-content__item--goon">
                                            <span class="font-medium">Bến Xe Trung Tâm Đà Nẵng</span>
                                        </div>
                                        <div class="ticket-content__item--gooff">
                                            <span class="font-medium">Bến Xe Hương Sơn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-content__item--right d-lg-none">
                                    <div class="ticket-content__item--dots"></div>
                                    <span>Xe thường</span>
                                    <div class="ticket-content__item--dots"></div>
                                    <span class="text-green">33 chổ trống</span>
                                    <span class="ticket-content__item--price">270.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="separate ticket-content__item--divide"></div>
                        <div class="ticket-content__item--wrap d-none d-lg-flex">
                            <div class="ticket-content__item--wrap-left">
                                <div class="ticket-content__item--dots"></div>
                                <span>Xe thường</span>
                                <div class="ticket-content__item--dots"></div>
                                <span class="text-green">33 chổ trống</span>
                            </div>
                            <span class="ticket-content__item--wrap-right">270.000đ</span>
                        </div>
                        <div class="ticket-content__item--bottom d-lg-none">
                            <button class="ticket-content__item--button btn btn--rounded btn--primary">
                                Chọn chuyến
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Trip 3 -->
                <div class="ticket-content__container">
                    <div class="ticket-content__item">
                        <div class="ticket-content__item--top">
                            <div class="ticket-content__item--container">
                                <div class="ticket-content__item--left">
                                    <div class="ticket-content__item--hour">
                                        <span class="ticket-content__item--text">06:00</span>
                                        <div class="ticket-content__item--distant">
                                            <img src="../../icon/pickup.svg" alt="">
                                            <span class="ticket-content__item--border"></span>
                                            <span class="ticket-content__item--value">
                                                    8 giờ
                                                </span>
                                            <span class="ticket-content__item--border"></span>
                                            <img src="../../icon/station.svg" alt="">
                                        </div>
                                        <span class="ticket-content__item--text">17:00</span>
                                    </div>
                                    <div class="ticket-content__item--location">
                                        <div class="ticket-content__item--goon">
                                            <span class="font-medium">Bến Xe Trung Tâm Đà Nẵng</span>
                                        </div>
                                        <div class="ticket-content__item--gooff">
                                            <span class="font-medium">Bến Xe Hương Sơn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-content__item--right d-lg-none">
                                    <div class="ticket-content__item--dots"></div>
                                    <span>Xe thường</span>
                                    <div class="ticket-content__item--dots"></div>
                                    <span class="text-green">33 chổ trống</span>
                                    <span class="ticket-content__item--price">270.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="separate ticket-content__item--divide"></div>
                        <div class="ticket-content__item--wrap d-none d-lg-flex">
                            <div class="ticket-content__item--wrap-left">
                                <div class="ticket-content__item--dots"></div>
                                <span>Xe thường</span>
                                <div class="ticket-content__item--dots"></div>
                                <span class="text-green">33 chổ trống</span>
                            </div>
                            <span class="ticket-content__item--wrap-right">270.000đ</span>
                        </div>
                        <div class="ticket-content__item--bottom d-lg-none">
                            <button class="ticket-content__item--button btn btn--rounded btn--primary">
                                Chọn chuyến
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Trip 4 -->
                <div class="ticket-content__container">
                    <div class="ticket-content__item">
                        <div class="ticket-content__item--top">
                            <div class="ticket-content__item--container">
                                <div class="ticket-content__item--left">
                                    <div class="ticket-content__item--hour">
                                        <span class="ticket-content__item--text">06:00</span>
                                        <div class="ticket-content__item--distant">
                                            <img src="../../icon/pickup.svg" alt="">
                                            <span class="ticket-content__item--border"></span>
                                            <span class="ticket-content__item--value">
                                                    8 giờ
                                                </span>
                                            <span class="ticket-content__item--border"></span>
                                            <img src="../../icon/station.svg" alt="">
                                        </div>
                                        <span class="ticket-content__item--text">17:00</span>
                                    </div>
                                    <div class="ticket-content__item--location">
                                        <div class="ticket-content__item--goon">
                                            <span class="font-medium">Bến Xe Trung Tâm Đà Nẵng</span>
                                        </div>
                                        <div class="ticket-content__item--gooff">
                                            <span class="font-medium">Bến Xe Hương Sơn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-content__item--right d-lg-none">
                                    <div class="ticket-content__item--dots"></div>
                                    <span>Xe thường</span>
                                    <div class="ticket-content__item--dots"></div>
                                    <span class="text-green">33 chổ trống</span>
                                    <span class="ticket-content__item--price">270.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="separate ticket-content__item--divide"></div>
                        <div class="ticket-content__item--wrap d-none d-lg-flex">
                            <div class="ticket-content__item--wrap-left">
                                <div class="ticket-content__item--dots"></div>
                                <span>Xe thường</span>
                                <div class="ticket-content__item--dots"></div>
                                <span class="text-green">33 chổ trống</span>
                            </div>
                            <span class="ticket-content__item--wrap-right">270.000đ</span>
                        </div>
                        <div class="ticket-content__item--bottom d-lg-none">
                            <button class="ticket-content__item--button btn btn--rounded btn--primary">
                                Chọn chuyến
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Trip 5 -->
                <div class="ticket-content__container">
                    <div class="ticket-content__item">
                        <div class="ticket-content__item--top">
                            <div class="ticket-content__item--container">
                                <div class="ticket-content__item--left">
                                    <div class="ticket-content__item--hour">
                                        <span class="ticket-content__item--text">06:00</span>
                                        <div class="ticket-content__item--distant">
                                            <img src="../../icon/pickup.svg" alt="">
                                            <span class="ticket-content__item--border"></span>
                                            <span class="ticket-content__item--value">
                                                    8 giờ
                                                </span>
                                            <span class="ticket-content__item--border"></span>
                                            <img src="../../icon/station.svg" alt="">
                                        </div>
                                        <span class="ticket-content__item--text">17:00</span>
                                    </div>
                                    <div class="ticket-content__item--location">
                                        <div class="ticket-content__item--goon">
                                            <span class="font-medium">Bến Xe Trung Tâm Đà Nẵng</span>
                                        </div>
                                        <div class="ticket-content__item--gooff">
                                            <span class="font-medium">Bến Xe Hương Sơn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-content__item--right d-lg-none">
                                    <div class="ticket-content__item--dots"></div>
                                    <span>Xe thường</span>
                                    <div class="ticket-content__item--dots"></div>
                                    <span class="text-green">33 chổ trống</span>
                                    <span class="ticket-content__item--price">270.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="separate ticket-content__item--divide"></div>
                        <div class="ticket-content__item--wrap d-none d-lg-flex">
                            <div class="ticket-content__item--wrap-left">
                                <div class="ticket-content__item--dots"></div>
                                <span>Xe thường</span>
                                <div class="ticket-content__item--dots"></div>
                                <span class="text-green">33 chổ trống</span>
                            </div>
                            <span class="ticket-content__item--wrap-right">270.000đ</span>
                        </div>
                        <div class="ticket-content__item--bottom d-lg-none">
                            <button class="ticket-content__item--button btn btn--rounded btn--primary">
                                Chọn chuyến
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="~{public/footer}"></div>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });

    function validateForm() {
        var stop1 = document.getElementById("departure");
        var stop2 = document.getElementById("destination");

        $('#date').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true, // Tự đóng Datepicker khi người dùng chọn ngày
            todayHighlight: true, // Highlight ngày hiện tại
            startDate: '0d' // Không cho phép chọn ngày quá khứ
        });

        if (stop1.value === "" || stop2.value === "") {
            alert("Vui lòng chọn đầy đủ thông tin.");
            return false;
        }

        return true;
    }
</script>

</body>

</html>