<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/profile-static}">
<head>
  <title>Quản lý danh gias</title>
</head>

<body>
<section layout:fragment="content" class="container">
  <div>
    <p class="text-center fs-3">Thay đổi mật khẩu</p>
    <div class="col-lg-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <ul th:if="${Message}" >
              <li><strong th:text="${Message}"></strong></li>
            </ul>
            <form th:action="@{/user/change-password}" th:object="${passwordChangeDto}" method="post">
              <div class="mb-3">
                <label for="currentPassword" class="form-label">Mật khẩu cũ:</label>
                <input type="password" class="form-control" id="currentPassword" placeholder="Nhập mật khẩu cũ" th:field="*{oldPassword}">
              </div>

              <div class="mb-3">
                <label for="newPassword" class="form-label">Mật khẩu mới:</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Nhập mật khẩu mới" th:field="*{newPassword}">
              </div>

              <ul class="text-muted">
                <li>Mật khẩu không nên quá giống với thông tin cá nhân khác.</li>
                <li>Mật khẩu phải ít nhất 8 ký tự.</li>
                <li>Mật khẩu không nên là những mật khẩu phổ biến.</li>
                <li>Mật khẩu phải có ít nhất 1 số và 1 ký tự đặc biệt.</li>
              </ul>

              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Nhập lại mật khẩu mới" th:field="*{confirmPassword}">
              </div>

              <button type="submit" class="btn btn-danger">Thay đổi</button>
            </form>
          </div>
        </div>
    </div>
  </div>

</section>
</body>
</html>