<header id="header" class="header" >
    <div class="container">
        <!-- Logo -->
        <a id="home" href="/user" class="logo top-bar-logo">
            <img src="../../icon/logo-primary.svg" alt="LUXURY BUS" class="top-bar-logo__img">
        </a>

        <div class="top-bar">
            <!-- More -->
            <button class="top-bar__more d-none d-lg-block">
                <img src="../../icon/more.svg" alt="" class="icon top-bar__more-icon">
            </button>

            <!-- Actions -->
            <div class="top-act d-lg-none">
                <div class="top-act__user">
                    <img src="../../imgs/avatar.png" alt="" class="top-act__avatar">

                    <!-- Dropdown -->
                    <div class="act-dropdown top-act__dropdown">
                        <div class="act-dropdown__inner user-menu">
                            <img src="../../icon/arrow-up.png" alt="" class="act-dropdown__arrow top-act__dropdown-arrow">

                            <div class="user-menu__top">
                                <img src="../../imgs/avatar.png" alt="" class="user-menu__avatar">
                                <div>
                                    <p class="user-menu__name">To Chien</p>
                                </div>
                            </div>

                            <ul class="user-menu__list">
                                <li>
                                    <a th:href="@{/user/info}" class="user-menu__link">
                                        <img src="../../icon/Profile.svg" alt="" class="user-menu__icon">
                                        Thông tin tài khoản
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/user/history}" class="user-menu__link">
                                        <img src="../../icon/History.svg" alt="" class="user-menu__icon">
                                        Lịch sử mua vé
                                    </a>
                                </li>
                                <li class="user-menu__separate">
                                    <a href="#!" class="user-menu__link">
                                        <img src="../../icon/Address.svg" alt="" class="user-menu__icon">
                                        Địa chỉ của bạn
                                    </a>
                                </li>
                                <li>
                                    <a href="#!" class="user-menu__link">
                                        <img src="../../icon/Profile.svg" alt="" class="user-menu__icon">
                                        Đặt lại mật khẩu
                                    </a>
                                </li>
                                <li class="user-menu__separate">
                                    <a href="#!" class="user-menu__link" th:href="@{/logout}">
                                        <img src="../../icon/Logout.svg" alt="" class="user-menu__icon">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- More -->
            <button class="top-bar__more d-none d-lg-block">
                <img src="../../icon/person.svg" alt="" class="icon top-bar__more-icon">
            </button>
        </div>

        <div class="bottom-bar d-lg-none">
            <!-- Navbar -->
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link navbar__link--selected">
                            Trang chủ
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#rules" class="navbar__link">
                            Quy định
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#routes" class="navbar__link">
                            Tuyến hoạt động
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#sales" class="navbar__link">
                            Khuyến mãi
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="#news" class="navbar__link">
                            Tin tức
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
</header>